# Python specific files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
*.DS_Store

# Virtual environments
venv/
ENV/
env/
*.venv
*.env

data/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
*.so
*.dylib
*.bin
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sql
*.sqlite3

# IDE specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Heroku
*.heroku

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
